/* ==========================================================================
   GLOBAL
   ========================================================================== */

/* html
   ========================================================================== */

html,
body
{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html *
{
    -webkit-font-smoothing: subpixel-antialiased;
}

textarea,
input,
button
{
    outline: none;
}


/* draggable
   ========================================================================== */

.linux .window-controls
{
    -webkit-app-region: drag;
}

.linux .window-controls .button
{
    -webkit-app-region: no-drag;
}

/* ==========================================================================
   OVERLAY
   ========================================================================== */

/* html
   ========================================================================== */

html.overlay
{
    background-color: transparent;
    transition: all 250ms ease-in-out;
}

/* ==========================================================================
   CONTROLLER
   ========================================================================== */

/* html
   ========================================================================== */

html.controller
{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* .window-controls
   ========================================================================== */
.window-controls
{
    display: block;
    text-align: right;
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
    transition: all 100ms 50ms ease-out;
}

.window-controls:hover
{
    transform: translate(-2.4rem, -0.1rem) scale(1.2);
}

.window-controls .button
{
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    padding: 0 0.2rem;
    margin: 0;
    height: 2rem;
    font-style: normal;
    line-height: 2rem;
    font-size: 1.5rem;
    text-decoration: none;

    transition: all 250ms ease-in-out;
}

.window-controls .button:hover
{
    color: rgba(255, 255, 255, 1.0);
    transform: scale(1.5);
}

.window-controls .hide
{
    display: none;
    opacity: 0;
    visibility: hidden;
}

/* .display-control-list
   ========================================================================== */

.display-control-list
{
    padding: 0.5rem 1rem 0 1rem;
    opacity: 0;
    transition: all 200ms ease-out;
}

/* .display-control
   ========================================================================== */

.display-control-list__display-control
{
    margin: 0;
    height: 3rem;
}

.display-control-list__display-control:not(:last-child)
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* .display-control__alpha_slider
   ========================================================================== */

input.alpha
{
    position: relative;
    display: block;
    float: right;
    width: 75%;
    height: 3rem;
    margin: 0;
    padding: 0;
}

/* .display-control__alpha-label
   ========================================================================== */

output.alpha
{
    color: rgba(255, 255, 255, 1);
    padding: 0 0 0 4%;
    width: 15%;
    margin: 0;
    line-height: 3rem;
    text-align: left;
    float: left;
    font-size: 1.2rem;
}

/* input
   ========================================================================== */

input[type=range]
{
    -webkit-appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-runnable-track
{
    width: 100%;
    height: 0.25rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
}

input[type=range]::-webkit-slider-thumb
{
    background-color: rgb(255, 255, 255);
    -webkit-appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    padding: 0.2rem;
    margin-top: -0.44rem;
}

input[type=range]:focus
{
    outline: none;
}

/* .display-control__visibility
   ========================================================================== */

input.visibility
{
    -webkit-appearance: none;
    background: transparent;
    border: rgba(255, 255, 255, 0.3) 0.1rem solid;
    padding: 0;
    width: 5%;
    margin: 0.9rem 0 0 0.2rem;
    height: 1.2rem;
    text-align: left;
    float: left;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
}

input.visibility:checked:after
{
    content: '\2715';
    position: relative;
    left: 0.12rem;
    top: -0.1rem;
}

/* .preferences
   ========================================================================== */

.preferences .version
{
    text-align: right;
    font-size: 0.7rem;
    line-height: 0.7rem;
    opacity: 0.5;
}
